{
  "bracketSameLine": true,
  "singleQuote": true,
  "printWidth": 120,
  "proseWrap": "preserve",
  "trailingComma": "es5",
  "tabWidth": 2,
  "overrides": [
    { "files": "*.md", "options": { "printWidth": 100, "proseWrap": "always" } },
    { "files": "*.yaml", "options": { "singleQuote": false, "printWidth": 100, "proseWrap": "never" } }
  ]
}
